.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  height: 50px;
  padding: 13px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #fff;
}

.App-content {
  display: flex;
  padding: 2%;
}
.half-width {
  width: 50%;
}
